@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&family=Londrina+Outline&display=swap');

.home-page {
  position: relative;
  background-color: #006666;
  text-align: center;
  color: rgb(223, 223, 223);
}

.home-page h1 {
  font-family: 'Londrina Outline', cursive;
  width: 100%;
  font-size: 2em;
  margin-bottom: 1em;
}

.home-page h2 {
  font-family: 'Fredoka', sans-serif;
}